body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f7fa;
}

header {
    background: #0b3d91;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 40px;
    background: #e3f2fd;
}

h2 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    background: #0b3d91;
    color: white;
}

footer {
    text-align: center;
    padding: 15px;
    background: #0b3d91;
    color: white;
  }
